@font-face {
  font-family: "Ubuntu";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Ubuntu-B.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu Condensed";
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  src: url("../fonts/Ubuntu-B.ttf") format("truetype");
}

:root {
  --md-text-font: "Ubuntu", sans-serif;
}

.md-typeset__table{
    font-family: "Ubuntu Condensed", sans-serif;
}
